.fullcon{
    // background-color: rgb(255, 183, 0);
    height: 100vh;
    .forh1{
    margin-top: 40px;
    .h11{
        margin-top: 0;
        color:rgb(11, 11, 82) ;
        text-align: center;
       
    }
        
}
.maincont{
    height: 570px;
    width: 400px;
   margin: 0 auto;
    background-color: white;
}
}
.divimg{
  
    text-align: center;

.imgphon{
    margin-top: 20px;
    height: 90px;
    width: 90px;
}
}
.tell{
    text-align: center;
    color: #1c548c;
    text-decoration: none;
}
.inst{
    text-align: center;
    color: rgb(239 80 70);

}
.t{
    color:#00a94b ;
}