body {
  margin: 0;
 padding: 0;
 box-sizing: border-box;
 /* background-color: rgb(255, 183, 0); */
 background-image: url("https://static.vecteezy.com/system/resources/thumbnails/011/678/462/original/colorful-abstract-blurred-gradient-background-moving-abstract-blurred-background-orange-and-yellow-color-gradient-loopable-background-animation-free-video.jpg");

}
